
/*Styles for images*/

p{color:red;}

img.img-tall {
  height: auto;
  max-width: min(500px,100%);
  /*align: right;*/
}

div.bodyColumn {
  max-width:300px;
  margin: auto;
}
/*Ensure rows align left and do not exceed page width*/
div.row {
  max-width:1000px;
  margin: auto;
}
/*Set table settings*/
table {
  table-layout: fixed;
  width: 1000px;
}

.table>thead>tr.no-border>th {
  border-top: none;
}

.table > tbody > tr:first-child > th {     border: none; }

th,
td {
  width: 300px;
  overflow: hidden;
}


/*Define hoverless class to override bootstrap defaults*/
.table-hover>tbody>tr.no-hover:hover {
    background-color: #ffffff;
}
.table>thead>tr.top-padding{
    border-top: 12px solid transparent;
}


